.body {
  background-color: whitesmoke;
  padding: 20px;
  min-height: 100vh;
  min-width: 100vw;
}

.content-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .form-card {
      width: 750px;
      min-width: 500px;
      padding: 20px;
      background-color: white;
      box-shadow: 0px 0px 25px rgb(224, 224, 224);
  }
}