@import "./main.scss";

.view-post-page {

    @extend .body;
    
    .content-container {
        max-width: 1000px;
        margin: auto;

        .comment-container {
            .comment-topic {
                margin-top: 20px;
            }

            .comment {
                margin-bottom: 20px;
            }
        }
    }
}